
      @media only screen and (max-width:430px) {
        .cards{
            h2{
                font-size: 1.2rem;
            }
            font-size: 1.8rem;
            margin: 0 auto;
            text-align: center;
            // background-color: red;
        }
      }
     
    
.card-map{
  flex-wrap: wrap;
}


.card{
    // background-color:#fae3e3!important;
    width: 20%;
    // margin-right: 3px !important;
    border: 1px solid wheat;
    border-radius: 12px;
    img{
        border: 1px solid white;
        border-radius: 12px;
    }
    button{
        margin-top: 12px;
    }
}

 @media only screen and (max-width:570px) {
        .card{
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: blue;
            
          img{
            width: 70%;
            margin-left: 4rem;
        }
        button{
            width: 70%;
            margin-left: 4rem;
          }
        }
      }