.bacground_img{

    .upload_file{
      width: 50%;
      margin-top: 3rem;
      border:1px solid wheat;
      border-radius: 15px;

      background-color: white;
      padding: 1rem;
      .input_file{
        margin-top: 2rem;
        margin-bottom: 2rem;
        
      }
      button_input{
        width: 100px;
    }
      
    }
    
  }