.bacground_img{

    .upload_file{
      width: 50%;
      margin-top: 3rem;
      border:1px solid red;

      background-color: white;
      padding: 1rem;
      .input_file{
        margin-top: 2rem;
        margin-bottom: 2rem;
        .input{
        
          color: white;
          background-color: white;
        }
      }
      button_input{
        width: 100px;
    }
      
    }
    
  }