body{
    background-color: rgb(184, 208, 208);
}

.regester_file_form{
    flex-wrap: wrap;
}
.regester_width{
        
        width: 50%;
    }

@media only screen and (max-width: 500px) {
 
    .regester_width{
        
        width: 90%;
    }
    .thisemail{
        display: none;
    }
}
.pull_file{
    border: 1px solid blue;
    border-radius: 8px;
}